/* .navbar-nav .nav-itme .nav-link {
    text-decoration: underline;
} */
body{
    background-color: #e6e2ee!important;
}
.about-section {
    background-color: lightblue;
  }


.home-page-img {
    margin-top: 10px;
}

.home-page-greetings{
    margin-top: 10px!important;
}

.tcontain{
    position: relative;
    height: 400px;
    width: 700px;
}

div.tcard{
    position: relative;
    height: 300px;
    width: 600px;
    padding: 10px;
    margin: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.cimg{
    position: absolute;
    left:10px;
    top:10px;
}

.tcont{
    position: absolute;
    left:10px;
    top:110px;
    margin: 10px;
    text-align: justify;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    width: 550px;
}

.recommender-name{
    position: absolute;
    left:120px;
    top:50px;
    font-weight: bold;
}

.rec-url{
    position: absolute;
    left:390px;
    top:240px;
    height: 40px;
    width: 180px;
}