/* .navbar-nav .nav-itme .nav-link {
    text-decoration: underline;
} */

.about-section {
    background-color: lightblue;
  }


.home-page-img {
    margin-top: 10px;
}

.home-page-greetings{
    margin-top: 10px!important;
}