{% extends "main.html" %}
{% load static %}

{% block title %}About Me{% endblock title %}About Me

{% block content %}

{{about.description}}

{% for recommendation in my_recommendations  %}
    
      <div class="tcontain">

          <div class="tcard">
              <div class="cimg">
                  <img class="rounded-circle" src="{{recommendation.recommender_profile_image.url}}" alt="{{recommendation.recommender}}  width="100" height="100"">
                </div>

                <h5 class="recommender-name">{{recommendation.recommender}}</h5>
                
                <span class="tcont">
                    <p class="card-text">{{recommendation.recommendation}}</p>
                </span>

                <a href="{{recommendation.recommender_profile_url}}" class="btn btn-primary rec-url">View Linkedin Profile</a>
            </div>
            
    </div>


{% endfor %}

{% endblock content %}