{% extends "main.html" %}
{% load static %}

{% block title %}Home{% endblock title %}About Me


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{home.profile_image.url}}" class="rounded float-right home-page-img" alt="..." width="500" height="500">
        </div>
        <div class="home-page-greetings col">
            <div class="middle">
                <span class="text-type-animation"><strong>Hi I am Kiarash,</strong>  <br>
                  <span
                        class="txt-rotate"
                        data-period="2000"
                        data-rotate='{{greetings}}'></span>
                 </span>
            </div>

              
            <div class="bottom d-flex">
                {% for s in social %}
                <div class="social-icon">
                    <a href="{{s.url}}"><i class="{{s.icon}}"></i></a>
                </div>
                
                {% endfor %}
    
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>

<div class="home-greetings-section">

    <p> {{home.greetings}} </p>

</div>


{% endblock content %}