{% extends "main.html" %}

{% block title %}Success{% endblock title %}

{% block content %}
<div style="margin: 80px">
    <h1>Form Submitted Successfully</h1>
    <p>Your message has been sent successfully. We will get back to you shortly.</p>
    <p>Redirecting to the home page in 5 seconds...</p>
</div>

<script>
    // JavaScript code to redirect to the home page after a delay
    setTimeout(function () {
        window.location.href = "{% url 'about' %}";  // Replace 'home' with your home page URL
    }, 5000);  // Redirect after 5 seconds (adjust the time as needed)
</script>

{% endblock content %}