{% extends "main.html" %}

{% block title %}Skills and Experiences{% endblock title %}

{% block content %}
 
<div class="contaienr">
    <div class="row">
        {% for work in works %}

            <div class="work-container col">
                <div class="work-img">
                    <img src="{{work.image.url}}" class="img-thumbnail" alt="..." width="350" height="350">
                </div>
                    <a class="work-url" href="{{work.url}}">{{work.title}}</a>
                    <p class="work-description">{{work.description}}</p>
            </div>
            
        {% endfor %}
    </div>
</div>



{% endblock content %}
